<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn More</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        body{
    background-color :black;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    }
    </style>
</head>
<body>
    <div class="container text-center mt-3 mb-5"><h2>It's Time for Energy Efficient Mode</h2></div>
    
    <div class="container d-flex justify-content-around ">
        <div class="card shadow-lg" style="width: 18rem; border-radius: 0.75rem;background-color: #100c08;color:white;">
            <img class="card-img-top" style="border-radius: 0.75rem;" src="https://th.bing.com/th/id/OIG1.fvpWssm60oOK0YYNzDEJ?w=1024&h=1024&rs=1&pid=ImgDetMain" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Reduce Carbon</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;border-radius: 0.75rem;background-color: #100c08;color:white;">
            <img class="card-img-top" style="border-radius: 0.75rem;" src="https://th.bing.com/th/id/OIG2.WKxP1BWW.9X8GZxtFRVA?w=1024&h=1024&rs=1&pid=ImgDetMain" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Dark Mode</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;border-radius: 0.75rem;background-color: #100c08;color:white;">
            <img class="card-img-top" style='border-radius: 0.75rem;' src="https://th.bing.com/th/id/OIG2.__4nnR.Eh7pGGlDEz7Qh?w=1024&h=1024&rs=1&pid=ImgDetMain" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Ad-Block</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>

    <div class="container ">
        The internet consumes around 416 terawatts of electricity per year, more than the UK’s annual consumption (IEA) because
users lack tools to manage energy usage in daily browsing, despite a growing demand for sustainable tech.
The Energy Efficient Web Browsing Mode is a Chrome extension designed to optimize browserbehaviour and minimize energy consumption during web browsing.
Battery Mode Detection Auto-Blocking Ads Real-Time Alerts
Core Features
This extension intelligently manages browser settings and operations based on user activity andthe content being viewed, providing an eco-friendly browsing experience.


Detects when the device is on battery power and activates power-saving settings, like reducing brightness and limiting resource-heavy tasks. Enjoy longer browsing sessions with optimized energy use tailored to your battery level. Stay energy efficient without worrying about sudden shutdowns!

Automatically suspends inactive tabs to save memory and CPU.It boosts your browser's speed and responsiveness, even with multiple tabs open. Tabs are reactivated instantly when needed, ensuring a seamless experience. Enjoy efficient multitasking without slowing down your system, and keeping you eco friendly.

Reduces data usage and power consumption by blocking resource intensive media. Enjoy optimized storage and power usage and improved website performance effortlessly. Say goodbye to large media slowing you down!

Applies dark mode and dims nonessential elements for energy savings . It intelligently dims nonessential elements, focusing attention on the content that matters. With optimized power usage on OLED screens, it extends battery life during browsing. Enjoy a sleek, energy-efficient browsing experience anytime!

seamlessly compresses images and videos during uploads. It reduces file sizes without compromising quality, ensuring faster sharing and loading times. Enjoy optimized storage usage and improved website performance effortlessly. Say goodbye to large media slowing you down!
    </div>
    
</body>
</html>